<mat-slider
  class="-my-2! mx-0! h-12! w-full! min-w-0! max-w-none! [--mat-slider-active-track-height:3px] [--mat-slider-handle-elevation:none] [--mat-slider-handle-height:18px] [--mat-slider-handle-shape:3px] [--mat-slider-handle-width:6px] [--mat-slider-inactive-track-height:3px] [--mat-slider-with-overlap-handle-outline-width:1px] [&_.mat-mdc-slider-active-ripple]:scale-50 [&_.mat-mdc-slider-focus-ripple]:scale-50 [&_.mat-mdc-slider-hover-ripple]:scale-50"
  [min]="minimum()"
  [max]="maximum()"
  [step]="step()"
  [discrete]="true"
>
  @if (endValue() === null) {
    <input
      matSliderThumb
      [id]="inputId()"
      [attr.aria-label]="ariaLabel()"
      [value]="value()"
      (input)="emitValue($event, 'value')"
      (pointerdown)="dragStart.emit('first')"
      (pointerup)="dragEnd.emit()"
      (pointercancel)="dragEnd.emit()"
      (keydown)="dragStart.emit('first')"
      (keyup)="dragEnd.emit()"
    >
  } @else {
    <input
      matSliderStartThumb
      [attr.aria-label]="ariaLabel() + ' Minimum'"
      [value]="value()"
      (input)="emitValue($event, 'value')"
      (pointerdown)="dragStart.emit('first')"
      (pointerup)="dragEnd.emit()"
      (pointercancel)="dragEnd.emit()"
      (keydown)="dragStart.emit('first')"
      (keyup)="dragEnd.emit()"
    >
    <input
      matSliderEndThumb
      [attr.aria-label]="ariaLabel() + ' Maximum'"
      [value]="endValue()"
      (input)="emitValue($event, 'end')"
      (pointerdown)="dragStart.emit('second')"
      (pointerup)="dragEnd.emit()"
      (pointercancel)="dragEnd.emit()"
      (keydown)="dragStart.emit('second')"
      (keyup)="dragEnd.emit()"
    >
  }
</mat-slider>
