@if (!renderVisible()) {
  <span class="grid h-full w-full place-items-center text-stone-300" aria-hidden="true">
    <mat-icon class="size-7! text-[28px]! leading-7!">local_florist</mat-icon>
  </span>
} @else if (snapshot(); as imageUrl) {
  <img class="h-full w-full object-contain" [src]="imageUrl" alt="" (error)="handleSnapshotError()">
} @else if (renderActive()) {
  <app-bouquet-canvas
    class="block h-full w-full"
    [state]="previewState()"
    [definitions]="previewDefinitions()"
    [fitToContent]="true"
    [zoom]="0.9"
    [thumbnailMode]="true"
    [snapshotSize]="thumbnailSize"
    [snapshotKey]="snapshotKey()"
    (snapshotReady)="storeSnapshot($event)"
  />
} @else {
  <span class="grid h-full w-full place-items-center text-stone-300" aria-hidden="true">
    <mat-icon class="size-7! animate-pulse text-[28px]! leading-7!">local_florist</mat-icon>
  </span>
}
