<section
  class="relative h-dvh min-h-[480px] select-none overflow-hidden [&_input]:select-text [&_textarea]:select-text"
  [class.bg-[#f8f7f2]]="backgroundMode() === 'light'"
  [class.bg-[#111113]]="backgroundMode() === 'dark'"
>
  <app-bouquet-canvas
    class="absolute inset-0 block h-full w-full"
    [class.pointer-events-none]="videoExporting()"
    [state]="store.state()"
    [definitions]="store.materializedDefinitions()"
    [selectedId]="selectedId()"
    [overlappingIds]="overlappingFlowerIds()"
    [flowerMoveEnabled]="!videoExporting()"
    [vaseEnabled]="true"
    [orbitEnabled]="!videoExporting()"
    [orbitPitch]="bouquetPitch()"
    [zoom]="zoom()"
    [zoomEnabled]="!videoExporting()"
    [fitToContent]="true"
    [viewportInsets]="previewInsets()"
    viewMode="rotate"
    [viewOffset]="viewOffset()"
    (flowerDrag)="moveFlower($event)"
    (flowerDragEnd)="store.autoCorrectFlowerOverlaps()"
    (orbitDrag)="orbitBouquet($event)"
    (viewPan)="panView($event)"
    (zoomChange)="zoom.set($event)"
    (selectionChange)="selectedId.set($event)"
  />

  @if (!menuOpen() || viewportWidth() >= 640) {
  }

  <app-bouquet-side-panel
    [menuOpen]="menuOpen()"
    [bouquets]="store.bouquetSummaries()"
    [activeBouquetId]="store.activeBouquetId()"
    [activeBouquetName]="store.activeBouquetName()"
    [canAddBouquet]="store.canAddBouquet()"
    [flowers]="usedFlowers()"
    [overlapCount]="overlappingFlowerIds().size"
    [selectedId]="selectedId()"
    [rotationDegrees]="rotationDegrees()"
    [vaseOptions]="vaseOptions"
    [activeVaseId]="activeVaseId()"
    [vaseMaterialOptions]="vaseMaterialOptions"
    [activeVaseMaterialId]="activeVaseMaterialId()"
    [videoExportSupported]="videoExportSupported"
    [videoExporting]="videoExporting()"
    [videoExportProgress]="videoExportProgress()"
    [modelExporting]="modelExporting()"
    [backgroundMode]="backgroundMode()"
    [sceneEffects]="sceneEffects()"
    [videoFormat]="videoFormat()"
    (pickerOpen)="pickerOpen.set(true)"
    (shuffle)="shuffleBouquet()"
    (viewReset)="resetView()"
    (bouquetReset)="resetBouquet()"
    (selectionChange)="selectedId.set($event)"
    (lengthChange)="setFlowerLength($event.instanceId, $event.lengthPercent)"
    (overlapCorrection)="store.autoCorrectFlowerOverlaps()"
    (flowerCopy)="copyFlower($event)"
    (flowerRemove)="removeFlower($event)"
    (rotationChange)="setRotationFromDegrees($event)"
    (vaseChange)="setVase($event)"
    (vaseMaterialChange)="setVaseMaterial($event)"
    (projectImport)="importProject($event)"
    (projectExport)="exportProject()"
    (menuToggle)="toggleMenu()"
    (bouquetAdd)="addBouquet()"
    (bouquetSelect)="selectBouquet($event)"
    (bouquetDelete)="deleteBouquet($event)"
    (bouquetNameChange)="store.renameActiveBouquet($event)"
    (videoExport)="exportTurntableVideo()"
    (modelExport)="exportBouquetModel()"
    (backgroundModeChange)="store.setBackgroundMode($event)"
    (sceneEffectChange)="setSceneEffect($event)"
    (videoFormatChange)="videoFormatId.set($event)"
  />
</section>

@if (pickerOpen()) {
  <app-bouquet-flower-picker
    [flowers]="bouquetDefinitions()"
    (flowerSelect)="addFlower($event)"
    (close)="pickerOpen.set(false)"
  />
}
