<aside
  class="pointer-events-none absolute inset-0"
  [attr.aria-busy]="busy()"
  [attr.inert]="disabled() ? '' : null"
>
  <div
    class="pointer-events-none absolute bottom-0 left-0 top-16 z-[45] w-[50vw] max-w-[100vw] -translate-x-full translate-y-0 drop-shadow-[12px_0_28px_rgb(28_25_23/14%)] will-change-transform data-[open=true]:translate-x-0 portrait:inset-x-0 portrait:top-auto portrait:h-[50dvh] portrait:w-full portrait:translate-x-0 portrait:translate-y-full portrait:drop-shadow-[0_-12px_28px_rgb(28_25_23/14%)] portrait:data-[open=true]:translate-y-0"
    [class]="transitionsReady() ? 'transition-transform duration-[320ms] ease-[ease]' : 'transition-none'"
    [attr.data-open]="open()"
  >
    <section
      class="absolute inset-0 z-[2] overflow-hidden rounded-tr-[18px] border-r border-t border-stone-200/90 bg-white portrait:rounded-t-[18px] portrait:border-r-0"
      [class.pointer-events-auto]="open()"
      [class.pointer-events-none]="!open()"
      [id]="panelId()"
      [attr.aria-hidden]="!open()"
      [attr.inert]="open() ? null : ''"
    >
      <ng-content />
    </section>

    <button
      class="pointer-events-auto absolute left-[calc(100%-1px)] top-1/2 z-[1] grid h-[78px] w-[42px] -translate-y-1/2 cursor-pointer place-items-center rounded-r-[18px] border border-l-0 border-stone-200/90 bg-white text-emerald-900 before:pointer-events-none before:absolute before:-inset-y-px before:-left-1 before:w-[5px] before:bg-white before:content-[''] hover:text-emerald-950 portrait:bottom-[calc(100%-1px)] portrait:left-1/2 portrait:top-auto portrait:h-[42px] portrait:w-[78px] portrait:-translate-x-1/2 portrait:translate-y-0 portrait:rounded-b-none portrait:rounded-t-[18px] portrait:border-b-0 portrait:border-l portrait:before:-inset-x-px portrait:before:inset-y-auto portrait:before:-bottom-1 portrait:before:h-[5px] portrait:before:w-auto"
      type="button"
      [attr.aria-label]="toggleLabel()"
      [attr.aria-expanded]="open()"
      [attr.aria-controls]="panelId()"
      (click)="toggle.emit()"
    >
      <svg class="size-[22px] fill-none stroke-current stroke-2 [stroke-linecap:round] [stroke-linejoin:round] transition-transform duration-[320ms] motion-reduce:transition-none portrait:hidden" [class.rotate-180]="open()" viewBox="0 0 24 24" aria-hidden="true">
        <path d="m9 5 7 7-7 7"/>
      </svg>
      <svg class="hidden size-[22px] fill-none stroke-current stroke-2 [stroke-linecap:round] [stroke-linejoin:round] transition-transform duration-[320ms] motion-reduce:transition-none portrait:block" [class.rotate-180]="open()" viewBox="0 0 24 24" aria-hidden="true">
        <path d="m5 15 7-7 7 7"/>
      </svg>
    </button>
  </div>
</aside>
