@import "tailwindcss";
@import "@angular/material/prebuilt-themes/azure-blue.css";

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url("/fonts/material-symbols-outlined-latin-400-normal.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-feature-settings: "liga";
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
